@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #fef2f2, #dc2626);
}

@keyframes float-heart {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 0.5;
  }
  25% {
    transform: translate(100px, -50px) rotate(45deg) scale(1.1);
    opacity: 0.7;
  }
  50% {
    transform: translate(200px, 0) rotate(-45deg) scale(0.9);
    opacity: 1;
  }
  75% {
    transform: translate(100px, 50px) rotate(45deg) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 0.5;
  }
}

.animate-float-heart {
  animation-name: float-heart;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

